agm-map {
  height: 100vh;
  width: 100%;
}

.background {
  background-color: red;
}

.text {
  color: aliceblue;
  line-height: 15%;
}

.font {
  font-weight: bold;
  color: aliceblue;
  font-size: large;
}

.margin {
  margin-bottom: 50px;
}

.sidenavclose {
  width: 400px;
}

.nomargin {
  margin: 0%;
  font-size: 30px;
}

.marginfix20 {
  margin-top: 20px;
}

.sidenavfix {
  height: 350px;
  border-radius: 25px !important;
  padding: 0 !important
}